# Токен бота от @BotFather
TELEGRAM_BOT_TOKEN=123456789:AAExampleTokenReplaceMe

# ID чата/канала/группы, куда бот будет присылать заявки
TELEGRAM_CHAT_ID=123456789

# Домен, на котором работает сайт (используется nginx-proxy и для выпуска SSL)
VIRTUAL_HOST=vancodex.tech
LETSENCRYPT_HOST=vancodex.tech
LETSENCRYPT_EMAIL=you@example.com
